In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline
import seaborn as sns

In [31]:
process = pd.read_csv('./C2_이차전지/bat_process.csv',encoding='euc-kr')
process.head()

,lot_id,tray_id,cell_id,judge,dt_start,rta1_cell_no,rta1_box_col,rta1_box_row,rta1_box_dan,hta1_box_col,...,sa3_box_row,sa3_box_dan,socv3_ocv,ocv2_deltaocv,ocv1_deltaocv,m1_thick,m1_voltage,m1_res_ac,m1_mv,m1_voltage_an
0,LOT-100,TRAY-1002,CELL-10300,양품,25NOV2023:05:17:55,20,04열,08연,04단,03열,...,54연,10단,3759.6,5.0,6.8,4709.0,37583.0,92.0,626.0,109.0
1,LOT-100,TRAY-1002,CELL-10301,양품,25NOV2023:05:17:55,18,04열,08연,04단,03열,...,54연,10단,3760.4,5.1,6.8,4712.0,37591.0,92.0,606.0,5.0
2,LOT-100,TRAY-1002,CELL-10302,양품,25NOV2023:05:17:55,2,04열,08연,04단,03열,...,54연,10단,3760.4,4.9,6.7,4737.0,37594.0,92.0,566.0,-10.0
3,LOT-100,TRAY-1002,CELL-10303,양품,25NOV2023:05:17:55,24,04열,08연,04단,03열,...,54연,10단,3759.0,5.1,6.9,4709.0,37578.0,92.0,606.0,111.0
4,LOT-100,TRAY-1002,CELL-10304,양품,25NOV2023:05:17:55,15,04열,08연,04단,03열,...,54연,10단,3759.0,5.0,6.7,4706.0,37577.0,93.0,606.0,-38.0

In [7]:
missing_columns = process.columns[process.isnull().any()]

In [8]:
missing_columns

Index(['socv2_ocv', 'sa3_box_col', 'sa3_box_row', 'sa3_box_dan', 'socv3_ocv',
       'ocv2_deltaocv', 'ocv1_deltaocv', 'm1_thick', 'm1_voltage', 'm1_res_ac',
       'm1_mv', 'm1_voltage_an'],
      dtype='object')

In [10]:
process[missing_columns].isnull().sum()

socv2_ocv        24
sa3_box_col      24
sa3_box_row      24
sa3_box_dan      24
socv3_ocv        24
ocv2_deltaocv    24
ocv1_deltaocv    24
m1_thick         90
m1_voltage       90
m1_res_ac        90
m1_mv            90
m1_voltage_an    90
dtype: int64

In [24]:
process[(process['m1_thick'].isnull())&(process['socv2_ocv'].isnull())]

,lot_id,tray_id,cell_id,judge,dt_start,rta1_cell_no,rta1_box_col,rta1_box_row,rta1_box_dan,hta1_box_col,...,sa3_box_row,sa3_box_dan,socv3_ocv,ocv2_deltaocv,ocv1_deltaocv,m1_thick,m1_voltage,m1_res_ac,m1_mv,m1_voltage_an
7045,LOT-108,TRAY-1339,CELL-18539,불량,28NOV2023:08:31:15,4,03열,01연,02단,03열,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7448,LOT-108,TRAY-1429,CELL-18729,양품,29NOV2023:04:24:45,24,08열,39연,09단,01열,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7449,LOT-108,TRAY-1429,CELL-18730,양품,29NOV2023:04:24:45,22,08열,39연,09단,01열,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7451,LOT-108,TRAY-1429,CELL-18732,불량,29NOV2023:04:24:45,15,08열,39연,09단,01열,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7454,LOT-108,TRAY-1429,CELL-18735,불량,29NOV2023:04:24:45,9,08열,39연,09단,01열,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7457,LOT-108,TRAY-1429,CELL-18738,양품,29NOV2023:04:24:45,18,08열,39연,09단,01열,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7458,LOT-108,TRAY-1429,CELL-18739,불량,29NOV2023:04:24:45,13,08열,39연,09단,01열,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7459,LOT-108,TRAY-1429,CELL-18740,불량,29NOV2023:04:24:45,14,08열,39연,09단,01열,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7460,LOT-108,TRAY-1429,CELL-18741,양품,29NOV2023:04:24:45,16,08열,39연,09단,01열,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7461,LOT-108,TRAY-1429,CELL-18742,불량,29NOV2023:04:24:45,23,08열,39연,09단,01열,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7465,LOT-108,TRAY-1429,CELL-18746,불량,29NOV2023:04:24:45,17,08열,39연,09단,01열,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7757,LOT-109,TRAY-1379,CELL-19206,불량,28NOV2023:17:15:05,13,05열,14연,04단,02열,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7776,LOT-109,TRAY-1379,CELL-19745,불량,28NOV2023:17:15:05,12,05열,14연,04단,02열,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14273,LOT-116,TRAY-1751,CELL-26196,불량,02DEC2023:04:12:20,11,04열,65연,08단,01열,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14926,LOT-117,TRAY-1738,CELL-27155,불량,02DEC2023:01:19:15,14,05열,45연,01단,03열,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21199,LOT-125,TRAY-2032,CELL-35647,불량,04DEC2023:18:31:00,24,03열,45연,05단,02열,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21200,LOT-125,TRAY-2032,CELL-35648,불량,04DEC2023:18:31:00,22,03열,45연,05단,02열,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21204,LOT-125,TRAY-2032,CELL-35652,불량,04DEC2023:18:31:00,25,03열,45연,05단,02열,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21207,LOT-125,TRAY-2032,CELL-35655,불량,04DEC2023:18:31:00,23,03열,45연,05단,02열,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21214,LOT-125,TRAY-2032,CELL-35662,불량,04DEC2023:18:31:00,21,03열,45연,05단,02열,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25233,LOT-130,TRAY-2001,CELL-40013,불량,04DEC2023:11:33:25,5,04열,37연,08단,02열,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25236,LOT-130,TRAY-2001,CELL-40016,불량,04DEC2023:11:33:25,14,04열,37연,08단,02열,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25240,LOT-130,TRAY-2001,CELL-40020,불량,04DEC2023:11:33:25,23,04열,37연,08단,02열,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25241,LOT-130,TRAY-2001,CELL-40021,불량,04DEC2023:11:33:25,9,04열,37연,08단,02열,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

------------

In [27]:
process[['tray_id','sa3_box_col', 'sa3_box_row', 'sa3_box_dan']]

In [33]:
process[process['tray_id']=='TRAY-1339'][['tray_id','sa3_box_col', 'sa3_box_row', 'sa3_box_dan']]

        tray_id sa3_box_col sa3_box_row sa3_box_dan
7030  TRAY-1339         13열         46연         06단
7031  TRAY-1339         13열         46연         06단
7032  TRAY-1339         13열         46연         06단
7033  TRAY-1339         13열         46연         06단
7034  TRAY-1339         13열         46연         06단
7035  TRAY-1339         13열         46연         06단
7036  TRAY-1339         13열         46연         06단
7037  TRAY-1339         13열         46연         06단
7038  TRAY-1339         13열         46연         06단
7039  TRAY-1339         13열         46연         06단
7040  TRAY-1339         13열         46연         06단
7041  TRAY-1339         13열         46연         06단
7042  TRAY-1339         13열         46연         06단
7043  TRAY-1339         13열         46연         06단
7044  TRAY-1339         13열         46연         06단
7045  TRAY-1339         NaN         NaN         NaN
7046  TRAY-1339         13열         46연         06단
7047  TRAY-1339         13열         46연         06단
7048  TRAY-1339         13열         46연         06단
7049  TRAY-1339         13열         46연         06단
7050  TRAY-1339         13열         46연         06단
7051  TRAY-1339         13열         46연         06단
7052  TRAY-1339         13열         46연         06단
7053  TRAY-1339         13열         46연         06단
7054  TRAY-1339         13열         46연         06단

'sa3_box_col', 'sa3_box_row', 'sa3_box_dan' -> tray_id 같으면 같다.

In [34]:
process[['sa3_box_col', 'sa3_box_row', 'sa3_box_dan']] = process.groupby('tray_id')[['sa3_box_col', 'sa3_box_row', 'sa3_box_dan']].fillna(method='ffill')

process[process['tray_id'] == 'TRAY-1339'][['tray_id', 'sa3_box_col', 'sa3_box_row', 'sa3_box_dan']]

        tray_id sa3_box_col sa3_box_row sa3_box_dan
7030  TRAY-1339         13열         46연         06단
7031  TRAY-1339         13열         46연         06단
7032  TRAY-1339         13열         46연         06단
7033  TRAY-1339         13열         46연         06단
7034  TRAY-1339         13열         46연         06단
7035  TRAY-1339         13열         46연         06단
7036  TRAY-1339         13열         46연         06단
7037  TRAY-1339         13열         46연         06단
7038  TRAY-1339         13열         46연         06단
7039  TRAY-1339         13열         46연         06단
7040  TRAY-1339         13열         46연         06단
7041  TRAY-1339         13열         46연         06단
7042  TRAY-1339         13열         46연         06단
7043  TRAY-1339         13열         46연         06단
7044  TRAY-1339         13열         46연         06단
7045  TRAY-1339         13열         46연         06단
7046  TRAY-1339         13열         46연         06단
7047  TRAY-1339         13열         46연         06단
7048  TRAY-1339         13열         46연         06단
7049  TRAY-1339         13열         46연         06단
7050  TRAY-1339         13열         46연         06단
7051  TRAY-1339         13열         46연         06단
7052  TRAY-1339         13열         46연         06단
7053  TRAY-1339         13열         46연         06단
7054  TRAY-1339         13열         46연         06단

In [38]:
process[['sa3_box_col', 'sa3_box_row', 'sa3_box_dan']].isnull().sum()

sa3_box_col    0
sa3_box_row    0
sa3_box_dan    0
dtype: int64

In [39]:
process[missing_columns].isnull().sum()

socv2_ocv        24
sa3_box_col       0
sa3_box_row       0
sa3_box_dan       0
socv3_ocv        24
ocv2_deltaocv    24
ocv1_deltaocv    24
m1_thick         90
m1_voltage       90
m1_res_ac        90
m1_mv            90
m1_voltage_an    90
dtype: int64

--------------

In [40]:
process[process['tray_id']=='TRAY-1339'][['tray_id','m1_thick', 'm1_voltage', 'm1_res_ac',
       'm1_mv', 'm1_voltage_an']]

        tray_id  m1_thick  m1_voltage  m1_res_ac  m1_mv  m1_voltage_an
7030  TRAY-1339    4691.0     37594.0       92.0  603.0           90.0
7031  TRAY-1339    4711.0     37587.0       92.0  582.0           58.0
7032  TRAY-1339    4721.0     37586.0       92.0  583.0          -50.0
7033  TRAY-1339    4690.0     37578.0       92.0  582.0          -92.0
7034  TRAY-1339    4706.0     37583.0       92.0  603.0          119.0
7035  TRAY-1339    4712.0     37592.0       94.0  541.0           23.0
7036  TRAY-1339    4700.0     37593.0       92.0  603.0           98.0
7037  TRAY-1339    4737.0     37595.0       95.0  541.0          112.0
7038  TRAY-1339    4736.0     37581.0       95.0  562.0            9.0
7039  TRAY-1339    4728.0     37583.0       95.0  562.0          162.0
7040  TRAY-1339    4722.0     37576.0       92.0  603.0          -15.0
7041  TRAY-1339    4733.0     37588.0       95.0  562.0            4.0
7042  TRAY-1339    4738.0     37593.0       93.0  582.0          163.0
7043  TRAY-1339    4738.0     37587.0       95.0  562.0          -46.0
7044  TRAY-1339    4741.0     37584.0       95.0  562.0          143.0
7045  TRAY-1339       NaN         NaN        NaN    NaN            NaN
7046  TRAY-1339    4736.0     37589.0       95.0  562.0          -47.0
7047  TRAY-1339    4717.0     37588.0       92.0  603.0          -28.0
7048  TRAY-1339    4716.0     37576.0       93.0  603.0           96.0
7049  TRAY-1339    4730.0     37588.0       95.0  562.0           -3.0
7050  TRAY-1339    4741.0     37587.0       95.0  541.0          -56.0
7051  TRAY-1339    4707.0     37580.0       92.0  603.0          -44.0
7052  TRAY-1339    4704.0     37582.0       92.0  582.0           66.0
7053  TRAY-1339    4730.0     37584.0       95.0  562.0           87.0
7054  TRAY-1339    4706.0     37580.0       93.0  582.0           99.0

tray 별로 평균 구해서 채우기?

In [42]:
mean_values = process.groupby('tray_id')[['m1_thick', 'm1_voltage', 'm1_res_ac', 'm1_mv', 'm1_voltage_an']].mean()

for col in ['m1_thick', 'm1_voltage', 'm1_res_ac', 'm1_mv', 'm1_voltage_an']:
    process[col] = process.groupby('tray_id')[col].transform(lambda x: x.fillna(mean_values.loc[x.name, col]))

process[process['tray_id'] == 'TRAY-1339'][['tray_id', 'm1_thick', 'm1_voltage', 'm1_res_ac', 'm1_mv', 'm1_voltage_an']]

        tray_id     m1_thick    m1_voltage  m1_res_ac    m1_mv  m1_voltage_an
7030  TRAY-1339  4691.000000  37594.000000  92.000000  603.000           90.0
7031  TRAY-1339  4711.000000  37587.000000  92.000000  582.000           58.0
7032  TRAY-1339  4721.000000  37586.000000  92.000000  583.000          -50.0
7033  TRAY-1339  4690.000000  37578.000000  92.000000  582.000          -92.0
7034  TRAY-1339  4706.000000  37583.000000  92.000000  603.000          119.0
7035  TRAY-1339  4712.000000  37592.000000  94.000000  541.000           23.0
7036  TRAY-1339  4700.000000  37593.000000  92.000000  603.000           98.0
7037  TRAY-1339  4737.000000  37595.000000  95.000000  541.000          112.0
7038  TRAY-1339  4736.000000  37581.000000  95.000000  562.000            9.0
7039  TRAY-1339  4728.000000  37583.000000  95.000000  562.000          162.0
7040  TRAY-1339  4722.000000  37576.000000  92.000000  603.000          -15.0
7041  TRAY-1339  4733.000000  37588.000000  95.000000  562.000            4.0
7042  TRAY-1339  4738.000000  37593.000000  93.000000  582.000          163.0
7043  TRAY-1339  4738.000000  37587.000000  95.000000  562.000          -46.0
7044  TRAY-1339  4741.000000  37584.000000  95.000000  562.000          143.0
7045  TRAY-1339  4720.458333  37585.583333  93.458333  576.375           39.5
7046  TRAY-1339  4736.000000  37589.000000  95.000000  562.000          -47.0
7047  TRAY-1339  4717.000000  37588.000000  92.000000  603.000          -28.0
7048  TRAY-1339  4716.000000  37576.000000  93.000000  603.000           96.0
7049  TRAY-1339  4730.000000  37588.000000  95.000000  562.000           -3.0
7050  TRAY-1339  4741.000000  37587.000000  95.000000  541.000          -56.0
7051  TRAY-1339  4707.000000  37580.000000  92.000000  603.000          -44.0
7052  TRAY-1339  4704.000000  37582.000000  92.000000  582.000           66.0
7053  TRAY-1339  4730.000000  37584.000000  95.000000  562.000           87.0
7054  TRAY-1339  4706.000000  37580.000000  93.000000  582.000           99.0

---------------

In [41]:
process[process['tray_id']=='TRAY-1339'][['socv2_ocv','socv3_ocv',
       'ocv2_deltaocv', 'ocv1_deltaocv']]

      socv2_ocv  socv3_ocv  ocv2_deltaocv  ocv1_deltaocv
7030     3762.3     3760.7            5.1            6.7
7031     3761.5     3759.9            5.2            6.8
7032     3761.4     3759.8            5.1            6.7
7033     3760.6     3759.0            5.1            6.7
7034     3761.2     3759.5            5.1            6.8
7035     3761.8     3760.3            5.1            6.6
7036     3762.2     3760.6            5.1            6.7
7037     3762.1     3760.5            5.2            6.8
7038     3760.8     3759.1            5.1            6.8
7039     3761.0     3759.4            5.2            6.8
7040     3760.5     3758.8            5.2            6.9
7041     3761.5     3759.9            5.1            6.7
7042     3762.1     3760.4            5.1            6.8
7043     3761.4     3759.8            5.2            6.8
7044     3761.1     3759.5            5.3            6.9
7045        NaN        NaN            NaN            NaN
7046     3761.6     3760.0            5.2            6.8
7047     3761.7     3760.1            5.2            6.8
7048     3760.5     3758.8            5.1            6.8
7049     3761.5     3759.9            5.2            6.8
7050     3761.3     3759.7            5.2            6.8
7051     3760.9     3759.3            5.2            6.8
7052     3761.0     3759.5            5.2            6.7
7053     3761.1     3759.5            5.2            6.8
7054     3760.8     3759.2            5.2            6.8

tray 별로 평균 구해서 채우기? 최빈값?

In [43]:
mean_values = process.groupby('tray_id')[['socv2_ocv','socv3_ocv','ocv2_deltaocv', 'ocv1_deltaocv']].mean()

for col in ['socv2_ocv','socv3_ocv','ocv2_deltaocv', 'ocv1_deltaocv']:
    process[col] = process.groupby('tray_id')[col].transform(lambda x: x.fillna(mean_values.loc[x.name, col]))

process[process['tray_id'] == 'TRAY-1339'][['socv2_ocv','socv3_ocv','ocv2_deltaocv', 'ocv1_deltaocv']]

        socv2_ocv    socv3_ocv  ocv2_deltaocv  ocv1_deltaocv
7030  3762.300000  3760.700000         5.1000          6.700
7031  3761.500000  3759.900000         5.2000          6.800
7032  3761.400000  3759.800000         5.1000          6.700
7033  3760.600000  3759.000000         5.1000          6.700
7034  3761.200000  3759.500000         5.1000          6.800
7035  3761.800000  3760.300000         5.1000          6.600
7036  3762.200000  3760.600000         5.1000          6.700
7037  3762.100000  3760.500000         5.2000          6.800
7038  3760.800000  3759.100000         5.1000          6.800
7039  3761.000000  3759.400000         5.2000          6.800
7040  3760.500000  3758.800000         5.2000          6.900
7041  3761.500000  3759.900000         5.1000          6.700
7042  3762.100000  3760.400000         5.1000          6.800
7043  3761.400000  3759.800000         5.2000          6.800
7044  3761.100000  3759.500000         5.3000          6.900
7045  3761.329167  3759.716667         5.1625          6.775
7046  3761.600000  3760.000000         5.2000          6.800
7047  3761.700000  3760.100000         5.2000          6.800
7048  3760.500000  3758.800000         5.1000          6.800
7049  3761.500000  3759.900000         5.2000          6.800
7050  3761.300000  3759.700000         5.2000          6.800
7051  3760.900000  3759.300000         5.2000          6.800
7052  3761.000000  3759.500000         5.2000          6.700
7053  3761.100000  3759.500000         5.2000          6.800
7054  3760.800000  3759.200000         5.2000          6.800

In [44]:
process[missing_columns].isnull().sum()

socv2_ocv        0
sa3_box_col      0
sa3_box_row      0
sa3_box_dan      0
socv3_ocv        0
ocv2_deltaocv    0
ocv1_deltaocv    0
m1_thick         0
m1_voltage       0
m1_res_ac        0
m1_mv            0
m1_voltage_an    0
dtype: int64