In [1]:
import arth

arth

In [7]:
arth.add(100, 200) #

300

In [4]:
arth.add(50, 70)

120

In [ ]:
l1 = [1, 2, 3]
l2 = [3, 4, 5]

In [ ]:
#list comprehension
[x * y for x in L1 for y in L2]

In [ ]:
#원래라면 top-down 방식
L = []
for x in L1 :
    for y in L2 :
        L.append(x * y)

In [6]:
[i for i in range(0,11)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
[i for i in range(0, 11) if i % 2 == 0]

[0, 2, 4, 6, 8, 10]

In [11]:
#[i for i in range(0, 11) if i % 2 == 0 else "홀"]   ## 조건을 앞에 둬야 실행이 되네??
[i if i % 2 == 0 else "홀" for i in range(0, 11)]

[0, '홀', 2, '홀', 4, '홀', 6, '홀', 8, '홀', 10]

In [14]:
#zip()
list(zip([1,2,3], [4,5,6])) # 각 리스트의 같은 인덱스 원소끼리 묶은 튜플을 원소로 하는 리스트 만들기

[(1, 4), (2, 5), (3, 6)]

In [15]:
list(zip([1,2,3], [4,5,6], ['a', 'b', 'c']))

[(1, 4, 'a'), (2, 5, 'b'), (3, 6, 'c')]

In [16]:
list(zip((1,2,3), (4,5,6)))

[(1, 4), (2, 5), (3, 6)]

In [18]:
[sum(x) for x in zip((1,2,3), (4,5,6))]

[5, 7, 9]

In [20]:
# 실습1
L1 = ['one', 'two', 'three', 'four']
L2 = [1, 2, 3, 4]
list(zip([L1], [L2]))

[(['one', 'two', 'three', 'four'], [1, 2, 3, 4])]

In [21]:
dict = {}
dict['one'] = 1
dict['two'] = 2
dict['three'] = 3
dict['four'] = 4
print(dict)

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [24]:
# 실습1
L1 = ['one', 'two', 'three', 'four']
L2 = [1, 2, 3, 4]
{ k:v for k, v in zip(L1, L2)}

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [28]:
# 실습2 성적산출 프로그램
fr = open("score.txt", "r")
for line in fr:
    print(line, end="")
fr.close()

202401	89 78
202402	76 84
202403	67 42
202404	66 88
202405	98 99

In [29]:
line # 학번 중간 기말 분리해야함 split

'202405\t98 99\n'

In [34]:
print(line)

202405	98 99

In [33]:
# split() 예시
s = "one:two:three"
L = s.split(":")
L

['one', 'two', 'three']

In [37]:
line.split() # 화이트스페이스 정리할 때 (공백, 스페이스 \t \n 등등)

['202405', '98', '99']

In [39]:
# 정수로 바꾸고 싶을 때
stuID, Mid, Fin = [int(x) for x in line.split()]
stuID, Mid, Fin

(202405, 98, 99)

In [40]:
class Dog:
    name = "Mongja" # 데이터
    
    def bark(self): # 메서드
        return "wal wal"

In [41]:
Dog.name

'Mongja'

In [42]:
Dog.bark

In [44]:
#dog1이라는 붕어빵 틀 만듦
dog1 = Dog()

In [48]:
dog1.name

'Mongja'

In [53]:
dog1.bark()

'wal wal'

In [57]:
dog2 = Dog()
dog2.bark()

'wal wal'

In [59]:
Dog.bark(dog2)

'wal wal'

In [60]:
class Dog:
    
    def __init__(self):
        print("init")
    
    def bark(self):
        return "wal wal"

In [62]:
Dog()

init

In [99]:
class Dog:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def bark(self):
        return "wal wal"
    
    def print_info(self):
        print(self.bark())
        print("name: %s, age : %d" % (self.name, self.age))

In [100]:
dog1 = Dog("kong", 3)

In [101]:
dog2 = Dog("Baduk", 5)

In [102]:
dog1.print_info()

wal wal
name: kong, age : 3

In [103]:
dog2.print_info()

wal wal
name: Baduk, age : 5

In [104]:
dog2.bark()

'wal wal'

In [105]:
dog3 = Dog()
dog3.print_info()

TypeError: Dog.__init__() missing 2 required positional arguments: 'name' and 'age'

In [164]:
class Name:
    
    def __init__(self,name, age, height, weight):
        self.name = name
        self.age = age
        self.height = height
        self.weight = weight
    
    def year(self):
        self.age += 1
        print("age : %d" % (self.age))
    
    def hei_chg(self):
        self.height += -1
        print("height_change : %d" % (self.height))
            
    def wei_chg(self):
        self.weight += 10
        print("weight_change : %d" % (self.weight))
    
    def print_info(self):
        print("name: %s, age : %d, height : %d, weight : %d" % (self.name, self.age, self.height, self.weight))

In [165]:
user1 = Name("홍길동", 999, 150, 50)
user2 = Name("김현규", 28, 176, 73)

In [166]:
user1.print_info()
user2.print_info()

name: 홍길동, age : 999, height : 150, weight : 50
name: 김현규, age : 28, height : 176, weight : 73

In [169]:
user1.year()
user1.hei_chg()
user1.wei_chg()

age : 1002
height_change : 149
weight_change : 60

In [170]:
user2.year()
user2.hei_chg()
user2.wei_chg()

age : 30
height_change : 175
weight_change : 83

In [172]:
# P13 인스턴스 직관적 사용 / 두 호출은 동등한 결과 예시
L1 = [1,2,3]
L2 = [3,4,5]

L1.append(100)
L1

[1, 2, 3, 100]

In [174]:
list.append(L1, 1000)
L1

[1, 2, 3, 100, 1000, 1000]

In [276]:
# 실습 1 은행계좌
class BankAccount:
    
    def __init__(self, balance=0, name="none"):
        self.balance = balance
        self.name = name 
    
    def deposit(self, amount):
        self.amount = amount
        self.balance = self.balance + amount
        print("%d원 입금 되었습니다. 총 금액 %d" % (self.amount, self.balance))
        
    
    def withdraw(self, amount):
        self.amount = amount
        if (self.balance < amount):
            print("잔액 부족")
        else:
            self.balance = self.balance - amount
            print("%d원 출금하여 잔고 %d원 입니다." % (self.amount, self.balance))
    
    def get_info(self):
        print("이름 : %s\n잔고 : %d" % (self.name, self.balance))
        # 원래 입금, 출금 시나리오도 get_info 불러와야하는 듯
    
    def transfer(self, other, amount):
        self.widtdraw(amount) # 길동 1000- 300원 출금
        other.deposit(amount) # 영희 200에서 300원 입금
        
        # if self.withdraw(amount) == True:
            #other.deposit(amount)
        
        # def __add__(self, amount):
            #self.deposit(amount)
        
        # def __radd__(self, amount):
            #self.deposit(amount)                            ##1000 + n
        # def __iadd__(self, amount):
            #self.deposit(amount)                            ## +=

In [277]:
a = BankAccount(100, "Gildong Hong")

In [278]:
a.get_info()

이름 : Gildong Hong
잔고 : 100

In [279]:
b = BankAccount()

In [280]:
b.deposit(400)
b.get_info()

400원 입금 되었습니다. 총 금액 400
이름 : none
잔고 : 400

In [281]:
b.withdraw(600)

잔액 부족

In [282]:
c = BankAccount()

In [283]:
c.deposit(1000)
c.get_info()

1000원 입금 되었습니다. 총 금액 1000
이름 : none
잔고 : 1000

In [284]:
c.withdraw(900)
c.get_info()

900원 출금하여 잔고 100원 입니다.
이름 : none
잔고 : 100

In [ ]:
acc1 = BankAccount(1000, "고길동")
acc2 = BankAccount(200, "고영희")
acc1.transfer(acc2, 300)
acc1.get_info()
acc2.get_info()

In [ ]:
acc1 = BankAccount(1000, "고길동")
acc2 = BankAccount(0, "고희동")
acc1.transfer(acc2, 2000)
acc1.get_info()
acc2.get_info()

In [287]:
# 상속 부모 클래스
class A:
    a = 1
    def print_a(self):
        print("A class")

In [288]:
# 상속 자식 클래스
class B:
    b = 1
    def print_b(self):
        print("B class")

In [289]:
class C(A):
    c = 1
    def print_c(self):
        print("C class")

In [290]:
c = C()

In [ ]:
c.a c.c # 등등 C 자식 클래스가 A 부모 클래스를 쓸 수 있따.

In [292]:
class D(C, B):
    d = 1
    def print_d(self):
        print("D class")

In [ ]:
D.a D.b D.c D.d # 등 모든 클래스를 상속 받음

In [294]:
D.mro() # mro는 메소드를 확인하는 순서 / 왼쪽에 있을 수록 우선 순위가 높다.
# https://www.winterjung.dev/python-mro/

[__main__.D, __main__.C, __main__.A, __main__.B, object]

In [306]:
# 메서드 오버라이딩
class A:
    def __init__(self):
        print("this is [A] class and [__init__] function")
        self.var1 = 0
        self.var2 = 0

In [307]:
class B(A):
    def __init__(self):
        super().__init__() # 매서드 오버라이딩 부모 클래스의 init이다.
        print("this is [B] class and [__init__] function")
        self.var3 = 0
        self.var4 = 0

In [309]:
b = B()

this is [A] class and [__init__] function
this is [B] class and [__init__] function

In [ ]:
b.var1 b.var2 b.var3 b.var4 # A, B 모두 쓸 수 있다. 재정의 했는데 부모 클래스도 쓰고 싶다. 그러면 super()를 쓴다.

In [310]:
#연산자 오버로딩
[1,2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [ ]:
#오류
acc1 + 1000
# 우리가 쓰려는 사칙연산을 쓰고 싶을 때 연산자 오버로딩을 한다.
# add sub 뭐 기타 등등 (책 표 참고)

In [313]:
# 실습 3
# 실습 1 은행계좌
class BankAccount:
    
    def __init__(self, balance=0, name="none"):
        self.balance = balance
        self.name = name 
    
    def deposit(self, amount):
        self.amount = amount
        self.balance = self.balance + amount
        print("%d원 입금 되었습니다. 총 금액 %d" % (self.amount, self.balance))
        
    
    def withdraw(self, amount):
        self.amount = amount
        if (self.balance < amount):
            print("잔액 부족")
        else:
            self.balance = self.balance - amount
            print("%d원 출금하여 잔고 %d원 입니다." % (self.amount, self.balance))
    
    def get_info(self):
        print("이름 : %s\n잔고 : %d" % (self.name, self.balance))
        # 원래 입금, 출금 시나리오도 get_info 불러와야하는 듯


class MinimumBalanceAccount(BankAccount):
    
    def __init__(self, balance =0, name="none", min_bal = 0):
        super().__init__()
        if (self.balance < 1000):
            print("최소 잔액을 유지해야 합니다.")
        else:
            self.balance = self.balance - amount
            print("%d원 출금하여 잔고 %d원 입니다." % (self.amount, self.balance))
        # 이거 마저 해야함

In [315]:
acc = MinimumBalanceAccount(500, "kim", 1000)
acc.get_info()# 500원이 있는데 1000원 미만이 되면 출금 못하게 함
acc.deposit(1000)
acc.withdraw(600)

최소 잔액을 유지해야 합니다.
이름 : none
잔고 : 0
1000원 입금 되었습니다. 총 금액 1000
600원 출금하여 잔고 400원 입니다.