!pip install mlxtend

!pip install apriori

In [7]:
!pip install apriori

Requirement already satisfied: apriori in /home/piai/anaconda3/lib/python3.10/site-packages (1.0.0)

#### 패키지 불러오기

In [8]:
# 데이터 구성:Series, DataFrame
import pandas as pd
# 행렬 연산
import numpy as np
# 데이터 전처리 : 항목 값에 대한 index 생성
from mlxtend.preprocessing import TransactionEncoder
# 지지도 계산
from mlxtend.frequent_patterns import apriori
# 연관 규칙
from mlxtend.frequent_patterns import association_rules

#### 데이터 구성하기

In [9]:
df_raw = pd.read_csv("/home/piai/다운로드/2주차 실습파일/2. Big Data 분석/상품구매.csv")
# df_raw = pd.read_csv("D:/WORK/DATA/상품구매.csv", engine = "python")
df_raw.head(10)

     ID      PRODUCT
0  C-11     BAGUETTE
1  C-11      HERRING
2  C-11      AVOCADO
3  C-11    ARTICHOKE
4  C-11     HEINEKEN
5  C-11       APPLES
6  C-11  CORNED BEEF
7  C-12      HERRING
8  C-12  CORNED BEEF
9  C-12       APPLES

#### 데이터 구성-전처리

In [10]:
# 고객 ID 리스트 행성 및 정렬
ID = list(set(df_raw["ID"]))
ID.sort()

# 고객ID별 상품 매칭
list_association = []
for i in ID:
    # ID별 구매 데이터 추출
    tmp_list = list(df_raw[df_raw["ID"] == i]["PRODUCT"])
    tmp_list.sort()
    # ID별 구매 데이터를 리스트에 담기
    list_association.append(tmp_list)

# 리스트 출력
for row in list_association:
    print(row)

['APPLES', 'ARTICHOKE', 'AVOCADO', 'BAGUETTE', 'CORNED BEEF', 'HEINEKEN', 'HERRING']
['APPLES', 'CORNED BEEF', 'HEINEKEN', 'HERRING', 'OLIVES', 'SARDINES', 'STEAK']
['APPLES', 'AVOCADO', 'BAGUETTE', 'ICE CREAM', 'PEPPERS', 'SARDINES', 'STEAK']
['APPLES', 'COKE', 'CORNED BEEF', 'HAM', 'HERRING', 'OLIVES', 'TURKEY']
['ARTICHOKE', 'BOURBON', 'COKE', 'HAM', 'ICE CREAM', 'OLIVES', 'TURKEY']
['ARTICHOKE', 'AVOCADO', 'BAGUETTE', 'COKE', 'HEINEKEN', 'HERRING', 'TURKEY']
['APPLES', 'CHICKEN', 'COKE', 'CORNED BEEF', 'HEINEKEN', 'ICE CREAM', 'SARDINES']
['BAGUETTE', 'BOURBON', 'CRACKERS', 'HEINEKEN', 'OLIVES', 'PEPPERS', 'SODA']
['BOURBON', 'CRACKERS', 'HEINEKEN', 'HERRING', 'OLIVES', 'SODA', 'STEAK']
['APPLES', 'BAGUETTE', 'CORNED BEEF', 'HAM', 'HERRING', 'OLIVES', 'TURKEY']
['ARTICHOKE', 'AVOCADO', 'BAGUETTE', 'BOURBON', 'CORNED BEEF', 'HEINEKEN', 'HERRING']
['ARTICHOKE', 'BOURBON', 'CRACKERS', 'HEINEKEN', 'OLIVES', 'SODA', 'STEAK']
['BOURBON', 'CORNED BEEF', 'CRACKERS', 'HEINEKEN', 'HERRING', 'OLIVES', 'SODA']
['APPLES', 'BAGUETTE', 'CHICKEN', 'COKE', 'HEINEKEN', 'ICE CREAM', 'SARDINES']
['CHICKEN', 'COKE', 'CORNED BEEF', 'HEINEKEN', 'ICE CREAM', 'PEPPERS', 'SARDINES']
['APPLES', 'BAGUETTE', 'BOURBON', 'COKE', 'ICE CREAM', 'OLIVES', 'TURKEY']
['AVOCADO', 'BOURBON', 'COKE', 'ICE CREAM', 'OLIVES', 'SODA', 'TURKEY']
['ARTICHOKE', 'BOURBON', 'CRACKERS', 'HEINEKEN', 'OLIVES', 'PEPPERS', 'SODA']
['BOURBON', 'COKE', 'ICE CREAM', 'OLIVES', 'SARDINES', 'SODA', 'TURKEY']
['BOURBON', 'COKE', 'HAM', 'ICE CREAM', 'OLIVES', 'SODA', 'TURKEY']

In [11]:
# Items 기준으로 포함 여부에 따라 True/False 로 변환
enc = TransactionEncoder()
df_raw_enc = enc.fit_transform(X = list_association)

# 함수 fit_transform 는 데이터를 행렬의 형태로 반환, pandas의 DataFrame의 형태로 변환
df_asso = pd.DataFrame(df_raw_enc, columns = enc.columns_)

df_asso.head()

,APPLES,ARTICHOKE,AVOCADO,BAGUETTE,BOURBON,CHICKEN,COKE,CORNED BEEF,CRACKERS,HAM,HEINEKEN,HERRING,ICE CREAM,OLIVES,PEPPERS,SARDINES,SODA,STEAK,TURKEY
0,True,True,True,True,False,False,False,True,False,False,True,True,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,True,False,False,True,True,False,True,False,True,False,True,False
2,True,False,True,True,False,False,False,False,False,False,False,False,True,False,True,True,False,True,False
3,True,False,False,False,False,False,True,True,False,True,False,True,False,True,False,False,False,False,True
4,False,True,False,False,True,False,True,False,False,True,False,False,True,True,False,False,False,False,True

#### 연관규칙 생성

In [12]:
# 규칙 선택 최소 지지
v_min_support = 0.4

# 연관규칙 생성 및 지지도 임계값 적용
# df_freq = apriori(df_asso, min_support = 0.4, use_colnames = True)  # 직접 입력 
df_freq = apriori(df_asso, min_support = v_min_support, use_colnames = True) # 매개값 사용

# itemsets 항목 확인
df_freq.round(3) 
# df_freq[9:16].round(3) # 부분 확인

    support                 itemsets
0      0.40                 (APPLES)
1      0.40               (BAGUETTE)
2      0.55                (BOURBON)
3      0.50                   (COKE)
4      0.40            (CORNED BEEF)
5      0.60               (HEINEKEN)
6      0.40                (HERRING)
7      0.45              (ICE CREAM)
8      0.65                 (OLIVES)
9      0.40                   (SODA)
10     0.40                 (TURKEY)
11     0.50        (OLIVES, BOURBON)
12     0.40          (BOURBON, SODA)
13     0.40        (ICE CREAM, COKE)
14     0.40           (OLIVES, SODA)
15     0.40  (OLIVES, BOURBON, SODA)

#### 연관규칙 선택

In [13]:
#향상도 기준 : lift
df_asso_rule = association_rules(df_freq, metric="lift" ,min_threshold = 1.3)
df_asso_rule.round(3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(OLIVES),(BOURBON),0.65,0.55,0.5,0.769,1.399,0.142,1.95,0.814
1,(BOURBON),(OLIVES),0.55,0.65,0.5,0.909,1.399,0.142,3.85,0.633
2,(BOURBON),(SODA),0.55,0.40,0.4,0.727,1.818,0.180,2.20,1.000
3,(SODA),(BOURBON),0.40,0.55,0.4,1.000,1.818,0.180,inf,0.750
4,(ICE CREAM),(COKE),0.45,0.50,0.4,0.889,1.778,0.175,4.50,0.795
5,(COKE),(ICE CREAM),0.50,0.45,0.4,0.800,1.778,0.175,2.75,0.875
6,(OLIVES),(SODA),0.65,0.40,0.4,0.615,1.538,0.140,1.56,1.000
7,(SODA),(OLIVES),0.40,0.65,0.4,1.000,1.538,0.140,inf,0.583
8,"(OLIVES, BOURBON)",(SODA),0.50,0.40,0.4,0.800,2.000,0.200,3.00,1.000
9,"(OLIVES, SODA)",(BOURBON),0.40,0.55,0.4,1.000,1.818,0.180,inf,0.750
10,"(BOURBON, SODA)",(OLIVES),0.40,0.65,0.4,1.000,1.538,0.140,inf,0.583
11,(OLIVES),"(BOURBON, SODA)",0.65,0.40,0.4,0.615,1.538,0.140,1.56,1.000
12,(BOURBON),"(OLIVES, SODA)",0.55,0.40,0.4,0.727,1.818,0.180,2.20,1.000
13,(SODA),"(OLIVES, BOURBON)",0.40,0.50,0.4,1.000,2.000,0.200,inf,0.833

In [14]:
#신뢰도 기준:confidence
df_asso_rule = association_rules(df_freq, metric="confidence" ,min_threshold = 0.7)
df_asso_rule.round(3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(OLIVES),(BOURBON),0.65,0.55,0.5,0.769,1.399,0.142,1.95,0.814
1,(BOURBON),(OLIVES),0.55,0.65,0.5,0.909,1.399,0.142,3.85,0.633
2,(BOURBON),(SODA),0.55,0.40,0.4,0.727,1.818,0.180,2.20,1.000
3,(SODA),(BOURBON),0.40,0.55,0.4,1.000,1.818,0.180,inf,0.750
4,(ICE CREAM),(COKE),0.45,0.50,0.4,0.889,1.778,0.175,4.50,0.795
5,(COKE),(ICE CREAM),0.50,0.45,0.4,0.800,1.778,0.175,2.75,0.875
6,(SODA),(OLIVES),0.40,0.65,0.4,1.000,1.538,0.140,inf,0.583
7,"(OLIVES, BOURBON)",(SODA),0.50,0.40,0.4,0.800,2.000,0.200,3.00,1.000
8,"(OLIVES, SODA)",(BOURBON),0.40,0.55,0.4,1.000,1.818,0.180,inf,0.750
9,"(BOURBON, SODA)",(OLIVES),0.40,0.65,0.4,1.000,1.538,0.140,inf,0.583
10,(BOURBON),"(OLIVES, SODA)",0.55,0.40,0.4,0.727,1.818,0.180,2.20,1.000
11,(SODA),"(OLIVES, BOURBON)",0.40,0.50,0.4,1.000,2.000,0.200,inf,0.833

## End of 연관규칙